<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>acidham.alfredworkflow.imageshrinker</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60C982A7-83A4-4296-82FD-E9EA656728EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>123A56A7-57C7-46CF-AA37-742E08E483B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>285567E4-5F6E-49BE-BD82-A2F26130F844</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36A94512-C96E-4FE0-91CF-FB93543CB554</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AA3EF44-CBEF-42AD-9061-29081050C4E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C3F439F-43C4-4C22-8EE7-40AE2CAE3DF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AEF6CC5-7650-44C7-B5B4-1C78F8C452A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>285567E4-5F6E-49BE-BD82-A2F26130F844</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2F91D951-0F64-4F68-AE64-AE8035DBD61B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>285567E4-5F6E-49BE-BD82-A2F26130F844</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3610C48B-C5EB-4EDC-997E-CD168E8EE58A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>123A56A7-57C7-46CF-AA37-742E08E483B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B97BBF05-1136-4AC7-ABB1-796BF44870A2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36A94512-C96E-4FE0-91CF-FB93543CB554</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2F91D951-0F64-4F68-AE64-AE8035DBD61B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36A94512-C96E-4FE0-91CF-FB93543CB554</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>18FA5E83-579C-4F14-B19D-835B3B793114</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60C982A7-83A4-4296-82FD-E9EA656728EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>688370B3-92C8-4F3E-9E72-52AC2CA7E02F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72830C6E-65DD-4DDA-B6EE-D53F694677A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72830C6E-65DD-4DDA-B6EE-D53F694677A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AA3EF44-CBEF-42AD-9061-29081050C4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>688370B3-92C8-4F3E-9E72-52AC2CA7E02F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AEF6CC5-7650-44C7-B5B4-1C78F8C452A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59585C54-DC87-4454-9D3F-7B24B45CF2A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C7AC3E-494B-4E67-87EE-F949A3A7D88A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C3F439F-43C4-4C22-8EE7-40AE2CAE3DF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F3163623-B745-4BD2-894D-819812FF6385</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6A7F060-F959-43A0-ADF3-945FE78A3E2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C3F439F-43C4-4C22-8EE7-40AE2CAE3DF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Reduce Filesize of an Image for sharing</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Image Shrinker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Size in px of longest side</string>
				<key>text</key>
				<string>Target Size</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60C982A7-83A4-4296-82FD-E9EA656728EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.heic</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.svg-image</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Image Shrinker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C6A7F060-F959-43A0-ADF3-945FE78A3E2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"480px","arg":"480","subtitle":"Longest size 480px"},{"title":"640px","arg":"640","subtitle":"Longest size 640px"},{"title":"800px","arg":"800","subtitle":"Longest size 800px"},{"title":"1024px","arg":"1024","subtitle":"Longest size 1024px"},{"title":"1280px","arg":"1280","subtitle":"Longest size 1280px"},{"title":"1440px","arg":"1440","subtitle":"Longest size 1440px"},{"title":"1920px","arg":"1920","subtitle":"Longest size 1920px"},{"title":"Custom","arg":"custom","subtitle":"Longest size with custom input"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Size</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python3 ./filecheck.py $argv</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C3F439F-43C4-4C22-8EE7-40AE2CAE3DF4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>custom</string>
						<key>outputlabel</key>
						<string>custom</string>
						<key>uid</key>
						<string>F3163623-B745-4BD2-894D-819812FF6385</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fixed</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>fpath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:fpath}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>size</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>688370B3-92C8-4F3E-9E72-52AC2CA7E02F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>imageshrinker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B8C7AC3E-494B-4E67-87EE-F949A3A7D88A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>285567E4-5F6E-49BE-BD82-A2F26130F844</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>3610C48B-C5EB-4EDC-997E-CD168E8EE58A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_reveal</string>
						<key>outputlabel</key>
						<string>open and reveal</string>
						<key>uid</key>
						<string>2F91D951-0F64-4F68-AE64-AE8035DBD61B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reveal</string>
						<key>outputlabel</key>
						<string>reveal</string>
						<key>uid</key>
						<string>18FA5E83-579C-4F14-B19D-835B3B793114</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ask</string>
						<key>outputlabel</key>
						<string>ask</string>
						<key>uid</key>
						<string>B97BBF05-1136-4AC7-ABB1-796BF44870A2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>nothing</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4AEF6CC5-7650-44C7-B5B4-1C78F8C452A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Open</string>
				<key>button2</key>
				<string>Reveal</string>
				<key>button3</key>
				<string>OK</string>
				<key>description</key>
				<string>Open in Preview and/or Reveal image(s) file in Finder?</string>
				<key>title</key>
				<string>Show and/or reveal image File(s)?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>123A56A7-57C7-46CF-AA37-742E08E483B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.optimize.color.for-sharing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>overwrite</key>
					<true/>
					<key>save_in</key>
					<string>{var:target_folder}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.format.convert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>72830C6E-65DD-4DDA-B6EE-D53F694677A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>max_size</key>
					<string>{var:size}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.resize.longest-side</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1AA3EF44-CBEF-42AD-9061-29081050C4E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>36A94512-C96E-4FE0-91CF-FB93543CB554</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Shrinking image completed</string>
				<key>title</key>
				<string>Image Shrinker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>59585C54-DC87-4454-9D3F-7B24B45CF2A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Image Shrinker

Helps to reduce file size for sharing

The workflow accepts one or multiple image files

# Required

1. Alfred 5
2. Automation Task

# Configuration

Click on `Configure Workflow` to:
* choose target path for converted images
* choose what to do once conversion is complete</string>
	<key>uidata</key>
	<dict>
		<key>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>123A56A7-57C7-46CF-AA37-742E08E483B7</key>
		<dict>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>1AA3EF44-CBEF-42AD-9061-29081050C4E1</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>1C3F439F-43C4-4C22-8EE7-40AE2CAE3DF4</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>285567E4-5F6E-49BE-BD82-A2F26130F844</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>36A94512-C96E-4FE0-91CF-FB93543CB554</key>
		<dict>
			<key>xpos</key>
			<real>1230</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>4AEF6CC5-7650-44C7-B5B4-1C78F8C452A9</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>59585C54-DC87-4454-9D3F-7B24B45CF2A6</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>60C982A7-83A4-4296-82FD-E9EA656728EA</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>688370B3-92C8-4F3E-9E72-52AC2CA7E02F</key>
		<dict>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>72830C6E-65DD-4DDA-B6EE-D53F694677A0</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>B8C7AC3E-494B-4E67-87EE-F949A3A7D88A</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>C6A7F060-F959-43A0-ADF3-945FE78A3E2D</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Folder for saving shrinked image(s)</string>
			<key>label</key>
			<string>Target Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>target_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>open</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open</string>
						<string>open</string>
					</array>
					<array>
						<string>Reveal</string>
						<string>reveal</string>
					</array>
					<array>
						<string>Open and Reveal</string>
						<string>open_reveal</string>
					</array>
					<array>
						<string>Ask</string>
						<string>ask</string>
					</array>
					<array>
						<string>Do nothing</string>
						<string>no</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Open or reveal converted image(s) when shrinking is complete</string>
			<key>label</key>
			<string>Open or Reveal Image(s)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>open_file</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.4.2</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/alfred-image-shrinker</string>
</dict>
</plist>
