<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>acidham.alfredworkflow.imageshrinker</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60C982A7-83A4-4296-82FD-E9EA656728EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AA3EF44-CBEF-42AD-9061-29081050C4E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60C982A7-83A4-4296-82FD-E9EA656728EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72830C6E-65DD-4DDA-B6EE-D53F694677A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AA3EF44-CBEF-42AD-9061-29081050C4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72830C6E-65DD-4DDA-B6EE-D53F694677A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>285567E4-5F6E-49BE-BD82-A2F26130F844</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36A94512-C96E-4FE0-91CF-FB93543CB554</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C7AC3E-494B-4E67-87EE-F949A3A7D88A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F3163623-B745-4BD2-894D-819812FF6385</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6A7F060-F959-43A0-ADF3-945FE78A3E2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Reduce Filesize of an Image for sharing</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Image Shrinker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Size in px of longest side</string>
				<key>text</key>
				<string>Target Size</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60C982A7-83A4-4296-82FD-E9EA656728EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.heic</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Image Shrinker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C6A7F060-F959-43A0-ADF3-945FE78A3E2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>285567E4-5F6E-49BE-BD82-A2F26130F844</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"480px","arg":"480","subtitle":"Longest size 480px"},{"title":"640px","arg":"640","subtitle":"Longest size 640px"},{"title":"800px","arg":"800","subtitle":"Longest size 800px"},{"title":"1024px","arg":"1024","subtitle":"Longest size 1024px"},{"title":"1280px","arg":"1280","subtitle":"Longest size 1280px"},{"title":"1440px","arg":"1440","subtitle":"Longest size 1440px"},{"title":"1920px","arg":"1920","subtitle":"Longest size 1920px"},{"title":"Custom","arg":"custom","subtitle":"Longest size with custom input"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Size</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.optimize.color.for-sharing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>max_size</key>
					<string>{var:size}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.resize.longest-side</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1AA3EF44-CBEF-42AD-9061-29081050C4E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>overwrite</key>
					<true/>
					<key>save_in</key>
					<string>{var:target_folder}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.format.convert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>72830C6E-65DD-4DDA-B6EE-D53F694677A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>custom</string>
						<key>outputlabel</key>
						<string>custom</string>
						<key>uid</key>
						<string>F3163623-B745-4BD2-894D-819812FF6385</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fixed</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>fpath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:fpath}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>size</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>imageshrinker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B8C7AC3E-494B-4E67-87EE-F949A3A7D88A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>36A94512-C96E-4FE0-91CF-FB93543CB554</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Image Shrinker

Helps to reduce file size for sharing

The workflow accepts one image file

# Required

1. Alfred 5
2. Automation Task</string>
	<key>uidata</key>
	<dict>
		<key>0AC1D1A7-A662-49EE-9463-C64CD5B4CE4D</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>0DAF40C0-E0E3-4E7D-A43B-22052F6DA73B</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>1AA3EF44-CBEF-42AD-9061-29081050C4E1</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>285567E4-5F6E-49BE-BD82-A2F26130F844</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>36A94512-C96E-4FE0-91CF-FB93543CB554</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>60C982A7-83A4-4296-82FD-E9EA656728EA</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>72830C6E-65DD-4DDA-B6EE-D53F694677A0</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>8E04C74A-AFA3-45A5-AB78-FBD21C7699C8</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>B8AFDAB2-81C2-4272-A19F-DEAE277D3F7A</key>
		<dict>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>B8C7AC3E-494B-4E67-87EE-F949A3A7D88A</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BFE27CED-15A6-4C03-832D-D5DF5A1C16C0</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>C6A7F060-F959-43A0-ADF3-945FE78A3E2D</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>DA978B5F-BC27-45BD-BD27-1D8CE610A14B</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Folder for saving shrinked image</string>
			<key>label</key>
			<string>Target Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>target_folder</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/alfred-image-shrinker</string>
</dict>
</plist>
